<nav
  class="navbar navbar-light navbar-expand-md py-3"
  style="width: 100%; height: 160px; margin-top: 0px"
>
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#"
      ><img src="assets/img/IUT_LOGO.png" width="80" height="106" /><span
        style="font-size: 40px"
        ><strong>IUT </strong>LLIS</span
      ></a
    ><button
      data-bs-toggle="collapse"
      class="navbar-toggler"
      data-bs-target="#navcol-2"
    >
      <span class="visually-hidden">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-2">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            href="/admin/logout"
            >Logout</a
          >
        </li>
        <li class="nav-item">
          <span class="nav-link navbar-text" style="color: black;">Hi, <strong><%= user.name %></strong></span>
        </li>
      </ul>
    </div>
  </div>
</nav>
