<nav class="navbar navbar-light navbar-expand-md py-3" style="width: 100%">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#"
      ><img src="assets/img/IUT_LOGO.png" width="87" height="106"><span
        class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"
      ></span
      ><span style="font-size: 40px; color: rgba(103, 8, 8, 0.9)"
        ><strong>IUT </strong>LLIS</span
      ></a
    ><button
      data-bs-toggle="collapse"
      class="navbar-toggler"
      data-bs-target="#navcol-2"
    >
      <span class="visually-hidden">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-2">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/student/history">History</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/student/logout"
            style="color: rgba(0, 0, 0, 0.9)"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
