<!DOCTYPE html>
<html lang="en" style="color: var(--bs-black); background: #f0f8ff">

  <%- include('../partials/adminDashboard.head.ejs') %>

  <body
    style="font-size: 40px; color: #f0f8ff; background: #f0f8ff; width: 100%"
  >

    <%- include('../partials/adminDashboard.navbar.ejs') %>

    <div style="margin-left: 30px; margin-right: 30px">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            href="#tab-1"
            style="font-size: 20px"
            >Pending Requests</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            href="#tab-2"
            style="font-size: 20px"
            >Leave-Late History</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <!-- tab1 -->
        <%- include('../partials/adminDashboard.tab1.ejs') %>
        <!-- tab 1 ends -->

        <!-- tab2 starts -->
        <%- include('../partials/adminDashboard.tab2.ejs') %>
      </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
