<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Home</title>
</head>

<body>
  <h1>Hello Admins, welcome IUT LLIS</h1>
  <div class="login">
    <h2>LOGIN with your admin ID password</h2>
    <p>Enter admin id</p>
    <input type="text" class="login-box" id="admin-id" name="admin-id">
    <p>Enter Password</p>
    <input type="text" class="login-box" id="password" name="password">
    <br>
    <br>
    <input type="submit" class="login-btn" value="Login">
  </div>
</body>

</html>